<%= scope(:popover_default_content, name: :mode, label: "Mode").render do %>
  <p>The mode in which to render your extension. The following options are supported:</p>

  <ul>
    <li><strong>Text</strong>: For text content. This is the default mode.</li>
    <li><strong>Art</strong>: For content with images or content that is a mix of images, gradients, and text. This is especially useful in producing a higher quality image for smaller bit depths and limited color palettes.</li>
  </ul>
<% end %>
