<%= scope(:popover_default_content, name: :static_body, label: "Static Body").render do %>
  <p>The body of data associated with your static extension. Must be a JSON object. When referenced in your Liquid template, ensure you prefix any top level key (or keys) with <code>source_1</code> as you would do with your exchanges.</p>
<% end %>
